<div class="container">
  <h1>To-do List!</h1>
  <p></p>

  <form method="post" action="/" id= "new_task">
    <p>
      <label name="list"/>List all the shit you're gonna forget.</label>
      <input name="task-item" type="text" placeholder="task"/>
    </p>
    <p><input type="submit" value="Put it on the list!"></p>
  </form>

  <ul id = "todo_list">
    <li>Some random list item</li>
    <li>More random list items</li>
  </ul>

</div>
